main {
  padding: 36px;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 17px;
  padding: 50px 20px 0 20px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  outline: none;
}

.form-btn {
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.assigned-task {
  display: flex;
  font-family: "Karla", sans-serif;
  align-items: center;
}

.clear-btn {
  height: 25px;
  width: 30px;
  cursor: pointer;
  padding: 0;
  margin: 0 0 0 15px;
}

.delete-img {
  width: 20px;
  height: 20px;
}

.meme-title {
  font-family: "Karla", sans-serif;
}

.background-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  height: 80vw;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* 
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
   align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 400px;*/
}

.top-text,
.bottom-text {
  font-size: 2em;
  font-family: impact, sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
