main {
  padding: 36px;
}

.meme-form {
  display: grid;
  grid-template: 40px 40px /1fr 1fr;
  gap: 17px;
}

.form-input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form-btn {
  grid-column: 1/-1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}
